.main-container {
  margin-left: 5rem;
}

.shop-info-container {
  display: grid;
  grid-template-columns: minmax(200px, 1fr) minmax(200px, 1fr) minmax(200px, 1fr) 15px 15px minmax(200px, 1fr) minmax(200px, 1fr) minmax(200px, 1fr);
}

.operating-container {
  grid-column: 1;
}

.address-container {
  grid-column: 2;
}

.ethos-container {
  grid-column: 4 / 9;
}

.info-text {
  margin-bottom: -1rem;
}