.footer-home-container {
  display: fixed;
  position: fixed;
	left: 0;
	bottom: 0;
  margin-bottom: 18rem;
	width: 100vw;
  margin-left: 6vw;
	filter: blur(8px);
  -webkit-filter: blur(8px);
  opacity: .2;
  transition: filter 0.3s;
  transform: opacity 0.8s;
	z-index: -1;
}

.unblurred {
	filter: none;
  -webkit-filter: none;
  opacity: 1;
}

.footer-container {
	display: fixed;
	left: 0;
	bottom: 0;
	width: 100vw;
  margin-left: 6vw;
	z-index: 1;
}

.footer-info {
  display: flex;
	margin-bottom: 6vw;
}

.hours-address-container {
	display: flex;
	width: 45vw;
	gap: 5vw;
}

.hours-address {
	font-size: .9rem;
	margin-bottom: -15px;
}

.purpose-container {
	width: 45vw;
}

.footer-logo-container {
	display: flex;
	justify-content: center;
	margin-left: -8vw;
}

.logo-large {
	width: 90vw;
	height: auto;
}

.footer-links-container {
	display: flex;
	width: 90vw;
	justify-content: space-between;
	margin: 2rem 0;
}

.footer-link {
	text-decoration: none;
	color: black;
}