.open {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  height: 100vh;
  z-index: 1;
}

.navigation-container {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80vw;
  padding: 1rem;
}

.heading {
  color: white;
}

.nav-link-list {
  margin-left: -2.5rem;
}

.nav-link {
  color: white;
  font-size: 6vw;
  list-style-type: none;
  cursor: pointer;
  transition: filter 0.3 ease;
}

.nav-link-list:hover .nav-link {
  filter: blur(6px);
}

.nav-link-list .nav-link:hover {
  filter: blur(0px)
}

.studio-info-container {
  display: flex;
  gap: 5vw;
}

.studio-info {
  color: white;
  margin-bottom: -8px;
}

.close-container {
  width: 35px;
  background-color: #cc6633;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
}

.close-button {
  width: 35px;
  appearance: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.closed {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  width: 35px;
  height: 100vh;
  cursor: pointer;
  z-index: 1;
}

.menu {
  width: 30px;
  height: 30px;
  margin-top: 20px;
}

.vs {
  width: 25px;
  height: 30px;
  margin-bottom: 20px;
}