.project-main {
  /* display: flex; */
}

.project-container {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(4, 130px) 15px 15px repeat(4, 130px);
  grid-template-rows: repeat(auto-fit, minmax(220px, 1fr));
  justify-content: center;
  @media (width > 1440px){
    grid-template-columns: repeat(4, 180px) 15px 15px repeat(4, 180px);
  }
}

.project-info-container {
  display: flex;
  flex-direction: column;
  grid-column: 1 / 4;
  grid-row: 1 / 4;
}

.project-title {
  font-size: 3rem;
  margin: 0;
}

.project-artist {
  margin-top: 1rem;
  margin-bottom: 0;
  font-weight: bold;
}

.project-mediums {
  margin: 0;
  margin-bottom: 3rem;
}

.project-description {
  font-size: .75rem;
  grid-column: 1 / 4;
}

.project-image-1 {
  width: 450px;
  height: auto;
  grid-column: 7 / 10;
  grid-row: 1 / 4;
  margin-bottom: 30px;
}

.project-image-2 {
  width: 450px;
  height: auto;
  grid-column: 1 / 4;
  grid-row: 4 / 8;
  margin-top: -150px;
}

.project-image-3 {
  width: 575px;
  height: auto;
  grid-column: 7 / 10;
  grid-row: 6;
}

.project-image-4 {
  width: 520px;
  height: auto;
  grid-column: 1 / 4;
  grid-row: 10;
  margin-top: -275px;
}

.project-image-5 {
  width: 260px;
  height: auto;
  grid-column: 1 / 2;
  grid-row: 12;
  margin-top: 40px;
}

.project-image-6 {
  width: 260px;
  height: auto;
  grid-column: 3 / 4;
  grid-row: 12;
  margin-top: 40px;
  @media (width > 1440px){
    margin-left: -98px;
  }
}

.project-image-7 {
  width: 575px;
  height: auto;
  grid-column: 7 / 10;
  grid-row: 12;
  margin-top: -350px;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
  margin: 5rem 3.5vw 5rem 5.5vw;
}

.pagination-button {
  border: none;
  background-color: transparent;
  font-size: 1.5rem;
  cursor: pointer;
}